<!doctype html>
<html lang="en" ng-app="chat">
<head>
  <meta charset="UTF-8">
  <title>Angular</title>
  <link rel="stylesheet" type="text/css" href="https://www.firebase.com/css/example.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	
</head>
<body ng-controller="Chat">
    <div id="textArea" ng-repeat="txt in text" ng-bind-html-unsafe="txt.para" contentEditable="false" ng-mouseup="highlight()">
    </div>
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="http://firebase.github.io/angularFire/angularFire.js"></script>
  <script src="app.js"></script>
</body>
</html>
